*{
   background-color: rgb(244, 234, 234);
   margin: 30px;
   font-family: Georgia, 'Times New Roman', Times, serif;
}
header {
   border: 15px;
   top:0;
   left:0;
   padding-top: 55px;
   margin-top: 0;
   width: 100%;
   height: 70px;
   text-align: center;
   position: fixed;
   z-index: 1000;
}
header ul  {
 
   list-style: none;
   display: flex;
   position: fixed;
   padding-left: 200px;
   width: 100%;
   font-size: 18px;
}






h1 {
   font-size: 3rem;
   text-align: center;
   margin-top: 140px;
   text-decoration-line: underline;
   text-decoration-color: burlywood;
   text-decoration-thickness: 5px;
  
}
p{
   text-align: center;
   font-size: 19px;


}


.book-groups {
display: grid;
grid-template-columns: 3fr 3fr;
gap: 50px 80px;
list-style: none;
text-align: start;
/*border: 5px solid white;*/
font-size: 19px;
}


.group-one {
  border: 5px solid burlywood;
  border-radius: 10px;
}
.group-two {
border: 5px solid burlywood;
border-radius: 10px;
}


.group-three {
border: 5px solid burlywood;
border-radius: 10px;
}
.group-four{
border: 5px solid burlywood;
border-radius: 10px;
}

